# Data preprocessing and basic visualizations | project atlanta

Project Members : 

Amy Caboor
Akhil Pandey
Kelly Finigan
Anudeep

### 1. Import libraries

In [1]:
import os
import re
import glob
import numpy as np
import pandas as pd
import dask.dataframe as dd
from collections import Counter

### 2. Prepare the data

#### 2.1 Go into the data directory

In [2]:
# set the data directory
os.chdir('data/')

# take all the csv files listed in the data directory
files = os.listdir('./')

#### 2.2 Choose all the csv files and ignore the remaining file types

In [18]:
# match all the files that have csv as file type endings
files = list(filter(lambda x: len(x.split('.')) == 2 , files))

# concat all of the csv's into a dataframe
data = pd.concat([pd.read_csv(f) for f in files], ignore_index = True, sort=False)

# print the head of the data
data.head()

,User ID,Route ID,Bike Region ID,Payment Plan,Start Hub,Start Area,Start Special Area,Start Latitude,Start Longitude,Start Date,...,Bike ID,Bike Name,Distance [Miles],Duration,Rental Access Path,Multiple Rental,Ride cost,Fees,Bonuses,Total cost
0,843470,7267796,NaN,STUDENT PASS SUBSCRIPTION,GEORGIA TECH - WEST CAMPUS HOUSING,Relay System,NaN,33.77873,-84.404715,2018-06-01,...,10833,2687,0.91,00:19:40,keypad,False,0.0,0.0,0.0,0.0
1,257486,7267951,NaN,MONTHLY PASS SUBSCRIPTION,CHEROKEE & WOODWARD,Relay System,NaN,33.745725,-84.373215,2018-06-01,...,13771,2991,2.82,00:15:36,mobile,False,0.0,0.0,0.0,0.0
2,487012,7270508,NaN,THE COCA-COLA COMPANY,CENTENNIAL OLYMPIC PARK,Relay System,NaN,33.76043,-84.39448,2018-06-01,...,12382,1026,2.39,00:18:58,keypad,False,0.0,0.0,0.0,0.0
3,678985,7270631,NaN,SNAP PASS SUBSCRIPTION,PIEDMONT PARK WEST,Relay System,NaN,33.78656333333333,-84.37791833333333,2018-06-01,...,10874,2660,5.96,00:35:27,keypad,False,0.0,0.0,0.0,0.0
4,560547,7270759,NaN,ANNUAL PASS,GREENWOOD AVE BELTLINE,Relay System,NaN,33.77672666666667,-84.365165,2018-06-01,...,11783,2590,1.43,00:12:31,keypad,False,0.0,0.0,0.0,0.0

#### 2.3 Add the missing csv file into the dataframe

In [20]:
# add the file trips_relay_bike_share_09-01-2017-10-01-2017.csv.html
# to the final dataframe
data.columns

Index(['User ID', 'Route ID', 'Bike Region ID', 'Payment Plan', 'Start Hub',
       'Start Area', 'Start Special Area', 'Start Latitude', 'Start Longitude',
       'Start Date', 'Start Time', 'End Hub', 'End Area', 'End Special Area',
       'End Latitude', 'End Longitude', 'End Date', 'End Time', 'Member Type',
       'Trip Type', 'Bike ID', 'Bike Name', 'Distance [Miles]', 'Duration',
       'Rental Access Path', 'Multiple Rental', 'Ride cost', 'Fees', 'Bonuses',
       'Total cost'],
      dtype='object')

#### 2.4 Write the final dataframe into a csv file

In [11]:
# use to_csv() function to write the data into a dataframe
data.to_csv('project_atlanta_dataset_alpha.csv', encoding='utf-8')